<section class="relative block overflow-hidden rounded-lg border border-gray-100 p-4 sm:p-6 lg:p-8">
  <span
    class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"
  ></span>

  <div class="sm:flex sm:gap-4 md:gap-10">
    <div class="hidden sm:block sm:shrink-0">
      <img
        alt="Paul Clapton"
        src="<%= @user.photo %>"
        class="h-32 w-32 rounded-lg object-cover shadow-sm"
      />
    </div>
    <div>
      <h3 class="text-lg font-bold text-gray-900 sm:text-xl"><%= @user.name %></h3>
      <div class="mt-4">
        <p class="max-w-[40ch] text-sm text-gray-500"><%= @user.bio %></p>
      </div>
    </div>
  </div>

  <dl class="mt-6 flex gap-6 sm:gap-10 justify-end">
    <div class="flex flex-col">
      <dt class="text-sm font-medium text-gray-600">No. Posts</dt>
      <dd class="text-xs text-gray-500"><%= @user.posts_counter %></dd>
    </div>
    <div class="flex flex-col">
      <dt class="text-sm font-medium text-gray-600">Joined at</dt>
      <dd class="text-xs text-gray-500"><%= @user.created_at.strftime("%B %d, %Y") %></dd>
    </div>
  </dl>
</section>
