<section class="p-5 bg-gray-200/30">
  <div class="flex flex-col items-center">
    <h1><%= @post.title %></h1>
    <div class="flex justify-end gap-4 text-sm w-full">
      <span> <%= @post.comments_counter %> comments </span>
      <span> <%= @post.likes_counter %> likes </span>
    </div>
  </div>
  <p class=" p-3 border-b border-gray-500/50"><%= @post.text %></p>
  <%= render 'shared/like' %>
  <div class="flex flex-col gap-2 p-5  rounded-br-3xl">
    <%= render 'shared/comment' %>
    <% @comments.each do |comment| %>
    <div>
      <span class="text-sm font-semibold text-gray-500"><%= comment.user.name %>:</span>
      <span class="text-sm text-gray-500"><%= comment.text %></span>
    </div>
    <% end %>
  </div>
</section>
