<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %> <%= csp_meta_tag %> <%= stylesheet_link_tag "tailwind", "inter-font",
    "data-turbo-track": "reload" %> <%= stylesheet_link_tag "application", "data-turbo-track":
    "reload" %> <%= javascript_importmap_tags %>
  </head>

  <body>
    <main>
      <% if user_signed_in? %> <%= render "static/head" %> <% end %>
      <p class="text-slate-500 bg-yellow-200/50 p-4"><%= notice %></p>
      <p class="text-slate-500 bg-red-200/50 p-4"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
